doctype html
html.no-js.fixed-layout
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 后台管理
    meta(name='description', content='后台管理')
    meta(name='keywords', content='index')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='renderer', content='webkit')
    meta(http-equiv='Cache-Control', content='no-siteapp')
    meta(name='apple-mobile-web-app-title', content='后台管理')
    link(rel='stylesheet', href='http://cdn.amazeui.org/amazeui/2.6.2/css/amazeui.min.css')
    link(rel='stylesheet', href='http://amazeui.org/css/admin.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/amazeui.datetimepicker.css')
  body
    //if lte IE 9
      p.browsehappy
        | 你正在使用
        strong 过时
        | 的浏览器，Amaze UI 暂不支持。 请
        a(href='http://browsehappy.com/', target='_blank') 升级浏览器
        |   以获得更好的体验！
    header.am-topbar.am-topbar-inverse.admin-header
      .am-topbar-brand
        strong 后台管理 &nbsp;
        small 业务系统
    .am-cf.admin-main
      // content start
      .admin-content
        .admin-content-body
          .am-cf.am-padding
            .am-fl.am-cf
              strong.am-text-primary.am-text-lg 首页
              |  /
              small #{title}
          block content
        footer.admin-content-footer
          hr
          p.am-padding-left © 2018 , Inc. Licensed MIT license.
      // content end
    a.am-icon-btn.am-icon-th-list.am-show-sm-only.admin-menu(href='#', data-am-offcanvas="{target: '#admin-offcanvas'}")
    //if lt IE 9
      script(src='http://libs.baidu.com/jquery/1.11.1/jquery.min.js')
      script(src='http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js')
      script(src='http://cdn.amazeui.org/amazeui/2.6.2/js/amazeui.ie8polyfill.min.js')
    // [if (gte IE 9)|!(IE)] <!
    script(src='http://amazeui.org/js/jquery.min.js')
    // <![endif]
    script(src='http://cdn.amazeui.org/amazeui/2.6.2/js/amazeui.min.js')
    script(src='/javascripts/amazeui.datetimepicker.min.js')
    script(type='text/javascript').
      var temp = $('#modal .am-modal-bd').clone();
      $('.datetime-picker').datetimepicker({
        format: 'yyyy-m-dd hh:ii'
      });
      $('.am-btn-order').on('click', function () {
        var self = $(this);
        self.attr('disabled', true);
        $.post('/bind', {
          order_id: $(this).attr('order')
        }, function (r) {
          self.attr('disabled', false);
          if (r instanceof Object) {
            var body = temp.clone();
            var item = temp.find('#items .item').clone();
            var user_status = Number(r.user.valid) == 88 && Number(r.user.bind_cnt) == 4;
            body.find('#user_status').html(user_status ? '已绑定' : '未绑定');
            body.find('#order_phone').html(r.user.phone);
            body.find('#order_password').html(r.user.pwd);
            body.find('#source_price').html(r.order.allprice);
            body.find('#items').html('');
            r.user.coupon.forEach(function (c) {
              var line = item.clone();
              line.find('.name').html(c.name);
              line.find('.amt').html(c.amt);
              line.appendT(body.find('#items'));
            });
            $('#modal .am-modal-bd').html(body);
          } else {
            $('#modal .am-modal-bd').html(r);
          }
          $('#modal').modal();
        });
      });
